# Based on https://github.com/actions-rs/meta/blob/master/recipes/quickstart.md
#
# While our "example" application has the platform-specific code,
# for simplicity we are compiling and testing everything on the Ubuntu environment only.
# For multi-OS testing see the `cross.yml` workflow.

on: [push, pull_request]

name: CI stable

env:
  RUST_BACKTRACE: 1

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        # continue-on-error: true  # WARNING: only for this example, remove it!
        with:
          command: check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        # continue-on-error: true  # WARNING: only for this example, remove it!
        with:
          command: test

  # Based on: https://github.com/actions-rs/tarpaulin#example-workflow
  coverage:
    name: Tarpaulin code coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

        # From:
        #  https://github.com/Ch00k/orthanc-cli/blob/slow-follow-exec/.github/workflows/test.yml
      - name: Install tarpaulin
        run: cargo install --git https://github.com/xd009642/tarpaulin.git --branch develop cargo-tarpaulin

        # From:
        #  https://github.com/xd009642/tarpaulin#github-actions
      - name: Run cargo tarpaulin
        run: cargo tarpaulin --out Xml

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1.0.2
        with:
          # From Edward Thomson blog:
          #  https://www.edwardthomson.com/blog/github_actions_11_secrets.html
          #
          # Added CODECOV_TOKEN to repo in Settings -> Secrets:
          #    https://github.com/winksaville/rust-binance-cli/settings/secrets/actions
          # Then click "New repository secret" adding CODECOV_TOKEN as name and
          # the token from:
          #    https://app.codecov.io/gh/winksaville/rust-binance-cli/settings
          #
          token: ${{secrets.CODECOV_TOKEN}}

      - name: Archive code coverage results
        uses: actions/upload-artifact@v1
        with:
          name: code-coverage-report
          path: cobertura.xml

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        # continue-on-error: true  # WARNING: only for this example, remove it!
        with:
          command: fmt
          args: --all -- --check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        # continue-on-error: true  # WARNING: only for this example, remove it!
        with:
          command: clippy
          args: -- -D warnings
